<main class="upload-view">
    <div class="upload upper">
        {% if upload.image %}
            <img src="{{ upload.image | prepend: 'uploads/' | prepend: site.imageurl }}" alt="{{ title }}">
        {% elsif upload.video %}
            <video controls>
                <source src="{{ upload.video | prepend: 'uploads/' | prepend: site.videourl }}" type="video/webm">
                Like, come on... you can't play this video with internet explorer... haha...
            </video>
        {% elsif upload.gif %}
            <video muted autoplay loop>
                <source src="{{ upload.gif | prepend: 'uploads/' | prepend: site.videourl }}" type="video/webm">
                Like, come on... you can't play this video with internet explorer... haha...
            </video>
        {% endif %}
        <div class="upload title">
            <h1>{{ upload.title }}</h1>
            <p class="upload date">
                {{ upload.date | date: "%d %B, %Y" }}
            </p>
        </div>
    </div>
    <div class="upload lower">
        <p>{{ upload.content }}</p>
    </div>
</main>