// Styling for the logo
.logo {
    font-size: 2rem;
    font-style: italic;
    margin: 1rem auto;

    a {
        text-decoration: none;
    }
}

// Header and footer
.header {
    margin-bottom: 1rem;

    .navigation {
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;

            list-style: none;
            padding: 0;
            margin-bottom: 2rem;
        }

        .selected {
            color: $primary;
            pointer-events: none;
        }
    }
}

.footer {
    margin-bottom: 2rem;
}

// Upload classes
.upload {
    // Main view
    &-view {
        .upper {
            .title {
                display: flex;
                justify-content: space-between;
                font-size: 0.8rem;
                line-height: 0.5rem;
            }

            .date {
                font-size: 0.8rem;
            }
        }

        .lower {
            text-align: left;
        }
    }

    // Upload archive
    &-nav {
        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 1rem auto;
            }
        }

        .list {
            display: flex;
        }
        
        .thumbnail {
            margin-right: 1rem;

            img {
                $size: 6rem;
                width: $size * 1.2;
                height: $size;
                object-fit: cover;
            }
        }

        .info {
            width: 100%;
            text-align: left;
        }

        .title {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h2, p {
                margin: 0;
            }
        }

        .description {
            opacity: 0.8;
        }
    }

    // Upload navigation controls
    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        margin: 1rem auto;

        .control {
            width: 3rem;
            font-size: 2rem;
            a {
                text-decoration: none;
            }
        }

        .previous {
            text-align: left;
        }
        .next {
            text-align: right;
        }

        .current {
            font-size: 1rem;
        }

        .disabled {
            opacity: 0.5;
        }
    }
}

// 404 page styling
.not-found {
    margin: 6rem auto;
}