// Colours
$foreground: #fff;
$background: #000;
$primary: #ff0020;

$transparent: #0000;

// Fonts
$font-default: 'arial', sans-serif;
$font-header: 'OldStandardTT-Bold';

// Distances
$width-content: 42rem;
$width-mobile: $width-content;