---
---
{% comment %} 
    This view is used to render the base template for all pages.
{% endcomment %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Page information -->
    <link rel="icon" href={{ "/favicon.ico" | prepend: site.url }}>

    <!-- Meta Tags -->
    {% include metatags.html %}

    <!-- Assets -->
    <link rel="stylesheet" href={{ "/assets/styles/main.css" | prepend: site.baseurl }}>
</head>
<body>
    <header class="header">
        {% include header.html %}
        {% include navigation.html %}
    </header>
    {% include bloodbar.html %}
    <div class="content">
        {{ content }}
    </div>
    {% include bloodbar.html %}
    <footer class="footer">
        {% include footer.html %}
    </footer>
</body>